section {
    margin-top: 120px;
}

section .app-info-page h1 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 90px;
    color: #fff;
}

section .app-info-page .item {
    text-align: center;
    background-color: #DFDFDF;
    border-radius: 15px;
    padding: 0 30px;
    transition: 500ms ease;
}

section .app-info-page h3 {
    margin-top: -20px;
    margin-bottom: 20px;
}

section .app-info-page p {
    line-height: 30px;
}

section .app-info-page img {
    position: relative;
    top: -40px;
    max-width: 40%;
    height: auto;
}

section .app-info-page .item:hover {
    transform: translateY(-15px);
}

/* Section Carousel Page Starting */

section .carousel-page {
    padding: 0 45px;
    margin-top: 50px;
    margin-bottom: 90px;
}

section .carousel-page h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

section .carousel-page .blok {
    height: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #aaa;
    border-radius: 15px;
    max-width: 95%;
    margin: 20px auto;
    transition: 500ms ease;
}

section .carousel-page .blok:hover {
    background-color: #fff;
}

section .carousel-page .blok img {
    max-width: 120%;
    height: auto;
}

section .carousel-page .blok .blok-text {
    width: 70%;
}

section .carousel-page .blok .img .teacher {
    transform: scale(1.4);
}

section .carousel-page .blok .img .boys {
    transform: translateX(-10px) scale(1.2);
}

section .carousel-page .splide__pagination__page {
    width: 20px;
    background-color: #545353;
    height: 20px;
    margin: 0 6px;
}

section .carousel-page .splide__pagination {
    bottom: -3rem;
}

section .carousel-page .splide__pagination__page.is-active {
    background-color: #fff !important;
}


/* Owl carousel Stle starting */

section .tarif-plane-page {
    text-align: center;
    margin-bottom: 100px;
}

section .tarif-plane-page .owl-carousel .owl-stage-outer {
    padding: 0 0 70px 0;
}

.owl-lazy {
    background-color: red;
}

section .tarif-plane-page :is(.box1, .box2, .box3) {
    width: 85%;
}

section .tarif-plane-page .box1 .box-body {
    height: 280px;
}

section .tarif-plane-page .box2 .box-body {
    height: 350px;
}

section .tarif-plane-page .box3 .box-body {
    height: 420px;
}

section .tarif-plane-page h1 {
    margin-bottom: 50px;
    color: #fff;
}

section .tarif-plane-page .box-title {
    background-color: #DFDFDF;
    font-size: 22px;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    border-radius: 12px;
    padding: 15px 0;
    margin-bottom: 30px;
}

section .tarif-plane-page .box-body {
    position: relative;
    background-color: #DFDFDF;
    text-align: center;
    border-radius: 12px;
    padding: 20px 15px;
}

section .tarif-plane-page button {
    position: absolute;
    bottom: -30px;
    left: 25px;
    z-index: 999 !important;
    background-color: #151414;
    text-transform: capitalize;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    width: 85%;
    padding: 15px 0;
    border: none;
    transition: 500ms ease;
}

section .tarif-plane-page button:hover {
    background-color: #515151;
}

section .tarif-plane-page button:hover a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

section .tarif-plane-page button a {
    color: #fff;
}

/* Comment Page Starting */

section .comment-page {
    padding: 0 45px;
}

section .comment-page h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

section .comment-page .box {
    background-color: #DFDFDF;
    color: #000;
    border-radius: 12px;
    padding: 15px 25px;
}

section .comment-page .box .user {
    display: flex;
}

section .comment-page .box .user img {
    max-width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 25px 0 10px;
}

section .comment-page .box .user h4 {
    text-transform: capitalize;
}

section .comment-page .box .user span {
    font-weight: 300;
}

section .comment-page .box .user-body {
    margin-top: 20px;
    display: flex;
}

section .comment-page .box .user-body .price {
    text-align: center;
    margin-right: 15px;
}

section .comment-page .box .user-body .price h6 {
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
}

section .comment-page .box .user-body .price span {
    font-weight: 500;
}

section .comment-page .box .user-body p {
    font-weight: 500;
    width: 60%;
}

section .comment-page .box .user-body .icons {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    flex-direction: column;
    margin-left: 60px;
}

section .comment-page .box .user-body .icons a {
    margin-bottom: 12px;
    font-size: 24px;
    color: #000;
}

section .comment-page .allView button {
    background-color: #343434;
    border-radius: 12px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    padding: 15px 36px;
    border: none;
    margin-bottom: 25px;
}

section .comment-page .allView button a {
    color: #DFDFDF;
    font-weight: 500;
}

section .comment-page .allView h4 {
    color: #aaa;
}

/* Ariza qoldirish page style starting */

section .user-form-page {
    margin-top: 25px;
}

section .user-form-page .title {
    font-size: 38px;
    color: #fff;
    font-weight: 500;
    line-height: 38px;
}

section .user-form-page .image-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

section .user-form-page form {
    text-align: center;
}

section .user-form-page form input {
    padding: 15px 36px;
    border-radius: 12px;
    border: none;
    margin-bottom: 12px;
    background-color: #DFDFDF;
}

section .user-form-page form .btnSubmit {
    background-color: #c1bbbb;
    width: 73%;
    font-weight: 500;
}

/* Media Query starting Section Page */


/* Carousel Page */

/* Max 1400px */
@media (max-width:1400px) {
    section .carousel-page .blok img {
        max-width: 105%;
    }

    section .carousel-page .blok h4 {
        font-size: 21px;
    }

    section .carousel-page .blok p {
        font-size: 15px;

    }

    /* Comment page */
    section .comment-page .box .user-body p {
        font-size: 15px;
        width: 100%;
    }

    section .comment-page .box .user-body .icons {
        margin-left: 10px;
    }


    /* Form Page Starting */
    section .user-form-page .title {
        font-size: 28px;
    }

}

/* Max 1200px */

@media (max-width:1200px) {

    /* App info page */
    section .app-info-page p {
        line-height: 20px;
        font-size: 15px;
    }

    section .user-form-page .image-page .settings {
        transform: scale(0.8);
    }

    section .user-form-page .image-page img {
        max-width: 73%;
    }

}

/* MAx 992px */
@media (max-width:992px) {

    section .app-info-page h1,
    section .carousel-page h1,
    section .tarif-plane-page h1,
    section .comment-page h1 {
        font-size: 33px;
    }

    /* App info apge */
    section .app-info-page img {
        max-width: 40%;
    }

    section .app-info-page .vsCodeImg {
        max-width: 15%;
        transform: scale(1.2);
    }
    section .tarif-plane-page p{
        font-size: 13px;
        margin-bottom: 0.5rem;
    }
    section .tarif-plane-page {
        margin-bottom: 30px;
    }
   
    section .user-form-page .title {
        font-size: 18px;
    }

}

/* Max 768px */

@media (max-width:768px) {
    section {
        margin-top: 70px;
    }
    section .tarif-plane-page p{
        font-size: 11px;
        text-align: left; 
    }
    section .tarif-plane-page .box-title {
        font-size: 16px;
    }
    section .tarif-plane-page .box-body {
        padding: 20px 2px;
    }
    section .tarif-plane-page button{
        font-size: 14px;
        left: 10px;
    }
    section .tarif-plane-page .box1 .box-body {
        height: 230px;
        padding: 10px;
    }
    section .tarif-plane-page .box2 .box-body {
        height: 310px;
        padding: 10px;
    }
    section .tarif-plane-page .box3 .box-body {
        height: 380px;
        padding: 10px;
    }
    section .tarif-plane-page :is(.box1, .box2, .box3) {
        width: 95%;
    }
    section .carousel-page .blok p {
        font-size: 13px;
    }
    section .user-form-page form input {
        width: 100%;
    }
}

/* Max 576px */
@media(max-width:576px){
    section .app-info-page .vsCodeImg {
        max-width: 40%;
        transform: scale(1);
    }
    section .app-info-page .item {
        padding: 0;
    }
    section .app-info-page h1,
    section .carousel-page h1,
    section .tarif-plane-page h1,
    section .comment-page h1 {
        font-size: 26px;
    }
    section .carousel-page {
        margin-top: 0px;
    }
    section .carousel-page .blok h4 {
        font-size: 15px;
    }
    section .carousel-page .blok .img{
        display: none;
    }
    section .carousel-page .blok{
        padding: 0;
        text-align: left;
    }

    section .tarif-plane-page .box-title {
        font-size: 11px;
    }
    section .tarif-plane-page p {
        font-size: 9px;
    }
    section .tarif-plane-page .box-body h3{
        font-size: 23px;
    }
    section .tarif-plane-page button {
        font-size: 9px;
    }
    section .comment-page {
        padding: 0 25px;
    }
    section .comment-page .box .user-body {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-self: flex-start;
    }
    section .comment-page .box .user h4 {
        text-transform: capitalize;
        font-size: 20px;
    }
    section .comment-page .box .user span {
        font-size: 11px;
    }
    section .comment-page .box .user img {
        margin: 10px 25px 0 0px;
    }
    section .comment-page .box .user-body .price {
        margin-right: 0;
    }
    section .comment-page .box .user-body .price span{
        margin-top: 5px;
    }
    section .comment-page .box .user-body p {
        font-size: 12px;
        margin-top: 15px;
        text-align: justify;
    }
    section .comment-page .box .user-body .icons{
        display: block;
    }
    section .comment-page .box .user-body .icons a {
        margin-right: 12px;
        font-size: 24px;
    }
    section .comment-page .allView button {
        font-size: 14px;
        padding: 15px 20px;
    }
    section .comment-page .allView h4{
        font-size: 17px;
    }
    section .user-form-page .title {
        font-size: 15px;
    }
    section .user-form-page form input {
        padding: 10px 20px;
    }
    section .user-form-page form .btnSubmit {
        background-color: #c1bbbb;
        width: 70%;
        font-size: 13px;
    }
}

/* Max 324 */
@media (max-width:324px) {
    section .comment-page .box .user-body .price {
        margin-right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}